@import'./normalize.css';

/* ================= GOOGLE FONTS============================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');
/* =================VRIABLE CSS============================*/
:root{

    --header-height: 5rem;

    /* Colors */
    --color-title: hsl(0, 0%, 95%);
    --color-text: hsl(0, 0%, 70%);
    --color-text-alt:  hsl(0, 0%, 90%);
    --color-body: hsl(0, 0%, 0%);
    --color-component: hsl(0, 0%, 10%);

    /* Font and Typography */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Montserrat', sans-serif;

    /* Font Weight */
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;
    /* Font Style */
    --fontstyle-primary: 'Poppins', sans-serif;
    --fontstyle-secondary: 'Montserrat', sans-serif;
    /* z index　 */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ================= FONT SIZE ============================*/
p{
    font-size: 1.6rem;
}
h1{
    font-size: 4.7rem;
}
h2{
    font-size: 3.9rem;
}
h3{
    font-size: 3.3rem;
}
@media screen and (min-width: 768px) {
    p{
        font-size: 1.8rem;
    }
    h1{
        font-size: 5.3rem;
    }
    h2{
        font-size: 4.8rem;
    }
    h3{
        font-size: 3.7rem;
    }
}
@media screen and (min-width: 1024px) {
    p{
        font-size: 2.0rem;
    }
    h1{
        font-size: 5.9rem;
    }
    h2{
        font-size: 4.9rem;
    }
    h3{
        font-size: 4.1rem;
    }
}

/* ================= BASE ============================*/
/* *,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    color: var(--color-title);
    background: var(--color-body);
    font-family: var(--fontstyle-primary);
}
h1,h2,h3,h4{
    font-weight: var(--font-semi-bold);
    font-style: var(--fontstyle-primary);
    margin: 0;
}
p{
    margin: 0;
    line-height: 1.5;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
input,
a{
    outline: none;
}
ul{
    padding: 0;
}

/* ================= REUSABLE CSS CLASSES ============================*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.grid{
    display: grid;
}


/* =============================== Header & NAV ====================================== */
.header{
    background: transparent;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed);
    height: var(--header-height);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding-inline: 2rem;
}
.nav__logo{
    color: #fff;
    font-size: 1.9rem;
}
.nav__link{
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    font-style: var(--fontstyle-secondary);
    color: #fff;
    column-gap: 2rem;
}
.nav__close,
.nav__toggle{
    font-size: 2.2rem;
    cursor: pointer;
}

@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        display: flex;
        padding-block: 4rem;
        -webkit-backdrop-filter:blur(24px); /* For Safari*/
        background: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(24px);
        -webkit-line-break: blur(24px);
        transition: top 0.5s;
    }
}

.nav__list{
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.nav__close{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.nav__link::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    margin-top: 2px;
    transition: width 0.5s;
}
.nav__link:hover::after{
    width: 50%;
}
.show-menu {
    top: 0;
}

@media screen and (min-width: 1023px){
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 6rem;
    }
}
/* =============================== IMAGE ZOOMUP ====================================== */
.card__shadow{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, 
                hsla(0, 0%, 0%, 0) 58%, 
                hsl(0,0%,0%, 0.3) 78%);
    z-index: 1;
}
.card{
    overflow: hidden;
    position: relative;
}
.card-img{
    transition: transform .4s;
}
.card:hover .card-img{
    transform: scale(1.15);
}
/* =============================== HOME ====================================== */
.home{
    position: relative;
    padding-bottom: 5rem;
}
.home__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
    z-index: -5;
}
.home__shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg, 
                            hsla(0, 0%, 0%, 0) 58%, 
                            hsl(0,0%,0%) 78%);
    z-index: -5;
}
.home__container{
    text-align: center;
}
.home__header{
    padding-block: 12rem 7rem;
    padding-inline: 2rem;
}
.home__subtitle{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.home__title{
    font-family: var(--fontstyle-secondary);
    font-weight: var(--font-bold);
    padding-bottom: 2rem;
}
.btn{
    display: inline-block;
    background:  hsla(0, 0%, 46%, 0.6);
    border: 0;
    padding: 1.8rem 3rem;
    padding-right: 5rem;
    margin-top: 4rem;
}
.btn__link{
    color: #fff;
    font-size: 1.6rem;
    font-family: var(--fontstyle-primary);
    font-weight: bold;
    position: relative;
}
.btn__link > i{
    font-size: 2.2rem;
    font-weight: var(--font-semi-bold);
    align-self: center;
    padding-left: 1rem;
    position: absolute;
    bottom: -3px;
    transition: padding 0.4s;
}
.btn:hover .btn__link > i{
    padding-left: 1.5rem;
}
.home__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}
.home__card{
    width: 230px;
    position: relative;
}
.card__title{
    position: absolute;
    z-index: 1;
    font-size: 1.7rem;
    color: #fff;
    bottom: 1rem;
    left: 1rem;
    z-index: 2;
}
@media screen and (min-width: 400px) {
    .home__header{
        width: 380px;
        margin-inline: auto;
    }
    
}
@media screen and (min-width:768px) {
    .home__header{
        width: 530px;
    }
    .home__title{
        font-size: 5.5rem;
    }
    .home__subtitle{
        font-size: 1.9rem;
    }
    .home__cards{
        grid-template-columns: repeat(2,260px);
        display: grid;
        justify-content: center;
    }
    .home__card{
        margin-inline: auto;
    }
}
@media screen and (min-width:1200px){
    .home__header{
        margin-inline: 0;
        margin-block: 20rem 7rem;
        text-align: left;
        padding-left: 3rem;
        width: 50%;
    }
    .home__title{
        font-size: 9rem;
    }
    .home__subtitle{
        font-size: 2.5rem;
    }
    .home__cards{
        grid-template-columns: repeat(4,290px);
    }
    .home__card{
        width: 270px;
    }
    .btn__link{
        font-size: 1.8rem;
    }
}

/* =============================== ABOUT ====================================== */
.about{
    padding-block: 3rem;
}
.about__container{
    row-gap: 5rem;
}
.about__header{
    text-align: center;
    padding-inline: 2rem;
}
.about__title{
    font-size: 2.6rem;
    font-family: var(--fontstyle-secondary);
    font-weight: var(--font-bold);
    padding-bottom: 3rem;
}
.about__discription{
    color: var(--color-text);
}
.about__card{
    width: 300px;
    margin-inline: auto;
    position: relative;
}
@media screen and (min-width: 400px) {
    .about__header{
        width: 380px;
        margin-inline: auto;
    }
}
@media screen and (min-width:768px){
    .about__container{
        grid-template-columns: repeat(2, 380px);
        justify-content: center;
    }
    .about__header{
        text-align: left;
        width: 330px;
    }
    .about__card{
        width: 300px;
    }
}
@media screen and (min-width:1200px){
    .about__container{
        grid-template-columns: repeat(2, 600px);
    }
    .about__header{
        width: 500px;
        align-self: center;
    }
    .about__title{
        font-size: 4.4rem;
    }
    .about__card{
        width: 430px;
    }
}

/* =============================== POPULAR ====================================== */
.popular{
    padding-block: 5rem;
}
.popular__title{
    text-align: center;
    padding-bottom: 4rem;
}
.popular__cards{
    justify-content: center;
    row-gap: 5rem;
}
.popular__card{
    width: 250px;
}
.popular__name{
    font-size: 1.7rem;
    font-family: var(--fontstyle-secondary);
    font-weight: var(--font-bold);
    padding-block: 1.3rem 0.5rem;
}
.popular__location{
    font-size: 1.4rem;
    font-family: var(--fontstyle-secondary);
    color: var(--color-text);
}
.popular__location > i{
    padding-right: 5px;
}
@media screen and (min-width:768px){
    .popular__cards{
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
    .popular__card{
        justify-self: center;
    }
}
@media screen and (min-width:1024px){
    .popular__cards{
        padding-top: 5rem;
        grid-template-columns: repeat(3, 350px);
    }
    .popular__card{
        width: 300px;
    }
    .popular__name{
        font-size: 2rem;
    }
    .popular__location{
        font-size: 1.7rem;
    }
}

/* =============================== EXPLORE ====================================== */
.explore__img{
    position: absolute;
    width: 100%;
    height: 340px;
}
.explore__bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.explore__shadow{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                                hsl(0,0%,0%) 5%,
                                hsla(0,0%,0%,0) 40%,
                                hsla(0,0%,0%,0) 60%,
                                hsl(0,0%,0%) 94%);
}
.explore__card{
   margin-inline: auto;
   position: relative;
   padding-top: 25rem;
}
.explore__data{
    text-align: center;
    padding-inline: 2rem;
}
.explore__profil{
    display: flex;
    align-items: center;
    justify-self: center;
    padding-block: 4rem;
}
.explore__profil-img{
    width: 35px;
    border-radius: 100%;
}
.explore__profil-name{
    font-family: var(--fontstyle-primary);
    font-weight: var(--font-medium);
    font-size: 1.4rem;
    padding-left: 1.3rem;
}
@media screen and (min-width: 400px) {
    .explore__card{
        width: 500px;
        margin-inline: auto;
    }
}
/* =============================== JOIN ====================================== */
.join__container{
    padding-block: 6rem 2rem;
    row-gap: 3rem;
}
.join__form{
    row-gap: 1rem;
    padding-block: 5rem;
}
.join__input{
    font-size: 1.5rem;
    padding-block: 1.7rem;
    padding-inline: 1.3rem 1rem;
    border: 0;
    background:hsla(0, 0%, 21%, 0.5);
    color: var(--color-text);
}
.join__input::placeholder{
    color: var(--color-text);
}
.join__btn{
    text-align: left;
    margin: 0;
}
.join__header{
    order: 1;
}
/* =============================== FOOTER ====================================== */
.footer{
    background: var(--color-component);
    padding-block: 4rem 0rem;
}
.footer__container{
    padding-inline: 2rem;
}
.footer__title{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.footer__discription{
    font-size: 1.5rem;
    color: var(--color-text);
}
.footer__content{
    row-gap: 4rem;
}
.footer__cards{
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
}
.footer__card{
    row-gap: 1rem;
}
.footer__card-title{
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
}
.footer__card-item{
    font-size: 1.5rem;
    color: var(--color-text);
    padding-bottom: 2rem;
    transition: color .4s;
    cursor: pointer;
}
.footer__card-item:hover{
    color: #fff;
}
.footer__group{
   text-align: center;
   padding-block: 8rem 4rem;
}
.footer__item{
    font-size: 2.4rem;
    color: var(--color-text);
    cursor: pointer;
    transition: color .4s, transform .4s;
}

.footer__item:hover{
    color: #fff;
    transform: translateY(-.75rem);
}
.footer__social{
    grid-template-columns: repeat(4,20px);
    column-gap: 4rem;
    justify-content: center;
}
.footer__copy{
    font-size: 1.4rem;
    color: var(--color-text);
    padding-top: 2rem;
}

@media screen and (min-width:400px){
    .footer__cards{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:768px){
    .footer__content{
        grid-template-columns: 2fr 3fr;
    }
}
@media screen and (min-width:1024px){
    .footer__cards{
        grid-template-columns: repeat(4,1fr);
    }
}

/* =============================== SCROLL BAR ====================================== */
::-webkit-scrollbar{
    width: .6rem;
    background: hsl(0, 0%, 10%);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 20%);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: hsl(0, 0%, 30%);
}

/* =============================== SCROLL UP ====================================== */
.scrollUp{
    position: fixed;
    right: 1rem;
    bottom: -100%;
    background: hsla(0, 0%, 100%, 0.1);
    font-size: 2.3rem;
    z-index: 10;
    color: #fff;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    transition: bottom .4s;
    backdrop-filter: blur(24px);
    -webkit-line-break: blur(24px); /* For safari */
}
.show-scrollUp{
    bottom: 4rem;
    transition: transform .4s;
}
.show-scrollUp:hover{
    transform: translateY(-.75rem);
}

/* =============================== CHANGE HEADER BACKGROUND ====================================== */
.scroll-menu::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(24px);
    -webkit-line-break: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
}

/* =============================== SCROLL SECTIONS ACTIVE LINK  ====================================== */
.active-link::after{
    width: 50%;
}

