<header class="header" id="header">
    <div class="nav container">
        <a href="#" class="nav__logo"> Travel</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#popular" class="nav__link">Popular</a></li>
                <li class="nav__item"><a href="#explore" class="nav__link">Explor</a></li>
            </ul>
            <div class="nav__close" id="nav-close"><i class="ri-close-fill"></i></div>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-fill"></i>
        </div>

    </div>
</header>